 /*Create by Zidanmubarok*/
  @media (max-width: 768px) {
  
    .table {
        overflow-x: auto;
    }
  
    .table {
        width: 100%;
        display: block;
        overflow-x: auto;
    }
  }